<div class="inner cover">
            <h1 class="cover-heading">Yo Quiero Una Oportunidad</h1>
            <h2 class="lead">Acompaña a Ramon Geronimo en su recorrido por todo el país, en búsqueda de Peloteros que quieran enseñar sus habilidades a todo el mundo en Television Nacional e Internacional. Los finalistas tendrán la oportunidad de representar al país en un torneo en USA.</h2>
            <p class="lead">
               <%= link_to "INSCRIBETE", new_user_registration_path, class: "btn btn-lg btn-default center-block" %>
            </p>

</div> 