<h1>About us</h1>
<h2>I've PinDoing this app...</h2>
<p>Social visual board that allows users to display what they PinDoing to reach their goals.  Users will be able to create or join a path, pin the things they need to accomplish that path, interact with people that are doing similar things or that already accomplished that path and can serve as a guide.</p>
<p>Let anyone know what you pindoing by sharing your board with the things you need, efforts, progress and they can contribute by giving you a gift with that thing you need, cheering you up, connect you with people that may help you and more.</p>
<p>Once you reach your goal you will be able to look back, celebrate with the people that helped you along the way and share your track with those who want to do the same path you accomplished.  You will become a guide and your track will help and inspired others.</p>
<p>You will be able to pin on your board:  products, courses, places, tutorials, books, equipments, anything that will get you closer to your goal.</p>
<p>Stay motivated by surrounding yourself with people with the same interest, inviting friends to start a path together and be surprise by people that want you to succeed.  Who knows who is looking at your board and decides to send you that gift or course you need.</p>