<div id="about">
<h1>Yo Quiero Una Oportunidad</h1>
<div class="info">
<p>El Talent Show  “YO QUIERO UNA OPORTUNIDAD”. Saldrá al aire, a través de CDN SPORTS MAX CANAL 38 desde el mes de Agosto 2015, los Jueves de  9:00PM / 10:00 PM, Protagonizado por  Ramón Gerónimo  y producido por Elede Producciones S.R.L.  “YO QUIERO UNA OPORTUNIDAD”, tendrá una duración de 55 minutos por episodio, por espacio de 6 meses.</p>
<p>Más que un simple show televisivo, es un Talent  Show tipo documental, cuya temática es de Superación personal, cambios de estilo de vida, Educación, cultura y beisbol.</p>
<p>Ramón Gerónimo, busca en este Talent Show, tipo documental, que otros jóvenes no sean estafados persiguiendo sus sueños y decide emprender un nuevo reto: Darle la Oportunidad, a estos  jóvenes, de demostrar su talento como peloteros, participando de un casting, que tendrá como Jurados a importantes figuras del beisbol de las grandes Ligas, como lo son Luis Polonia, Miguel Batista, Miguel Dilone entre otros.</p>
<p>La teleaudiencia, tendrá la oportunidad de presenciar atraves de este Talent show, las alegrías, y frustraciones, la incertidumbre de su familia, el apoyo de sus amistades que conlleva el sueño de ser pelotero.
</p>
<p>El rodaje comienza el 13 de Abril 2015 y la fecha final para inscribirse es el 1ro de Julio 2015.</p>
</div>