// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#about {
	padding-top: 0;
	color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.form-group {
	color: #222;
	text-align: left;
}

.panel-body {
	color: #222;
}

